@{
  Layout = "_Layout";
}
@using BakeryMVC.Models;

<h1>Welcome, Pierre!</h1>
<img src='~/BakeryMVC/wwwroot/img/display-corner-bread.jpg'/>
<ul>
  <h3><a href='/vendors'>View Current Vendors</a></h3>
  <h3><a href='/vendors/new'>Add a New Vendor</a></h3>
  <h3><a href='/vendors/orders'>View Current Orders</a></h3>
  <h3><a href='/vendors/orders/new'>Add a New Order</a></h3>
</ul>