@{
  Layout = "_Layout";
}
@using BakeryMVC.Models;

<div class="jumbotron">
  <h1>Welcome, Pierre!</h1>
</div>
<img src='~/img/display-corner-bread.jpg'/>
<hr>
<div class="center">
  <h3>What would you like to do today?</h3>
  <ul>
    <h4><a href='/vendors'>View Current Vendors</a></h4>
    <h4><a href='/vendors/new'>Add New Vendor</a></h4>
    <h4><a href='/vendors/orders'>View Current Orders</a></h4>
  </ul>
</div>