@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Welcome, Pierre!</h1>
</div>
<div class="container">
    <img src='~/img/display-corner-bread.jpg' />
    <hr>
    <div class="center">
        <h3>What would you like to do today?</h3>
        <ul>
            <h3><a href='/vendors'>View Current Vendors</a></h3>
            <h3><a href='/vendors/new'>Add New Vendor</a></h3>
            <h3><a href='/vendors/orders'>View Current Orders</a></h3>
        </ul>
    </div>
</div>