@{
  Layout = "_Layout";
}

@using BakeryMVC.Models;

<div class="container">
  <div class="jumbotron">
    <h1>Vendors</h1>
  </div>

  @if (@Model.Count == 0)
  {
    <h3>No vendors have been added yet!</h3>
  }

  @foreach (Vendor vendor in Model)
  {
    <div class="card">
      <div class="card-body">
        <h3><a href="/vendors/@vendor.Id"> - @vendor.VendorName</a></h3>
      </div>
    </div>
  }

  <hr>
  <h3><a href="/vendors/new">Add a new vendor.</a></h3>
  <br>
  <h6><a href="/orders/delete">Delete all vendors.</a></h6>
  <hr>
  <h3><a href='/'>Main Page</a></h3>
</div>