body {
  background-color: #BFAC95;
  color: #403A3F;
}

h1 {
  color: #524D59;
  text-align: center;
}

h3 {
  color: #403A3F;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  filter: drop-shadow(0px 10px 3px #403A3F);
}

#footer {
  background-color: #F2EFE9;
  text-align: center;
}